@font-face {
  font-family: "FT88-Expanded";
  src: url("../public/FT88-Expanded.otf") format("opentype");
  font-style: medium;
}

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;500;600&display=swap");

body {
  padding-top: 10rem;
  padding-left: 14rem;
  padding-right: 14rem;
  margin: 0;
  background-image: linear-gradient(#aaa8ff, #a8cbff, #fbffcc);
  background-repeat: no-repeat;
  height: screen;
  font-family: IBM Plex Mono, monospace;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: FT88-Expanded;
  font-size: 64px;
  color: #fdffe0;
  letter-spacing: 10%;
}

h2 {
  font-family: FT88-Expanded;
  font-size: 40px;
  text-decoration: underline;
  letter-spacing: 15px;
}

h3 {
  font-family: FT88-Expanded;
  font-size: 32px;
  color: #fdffe0;
  letter-spacing: 10%;
}

.portfolio {
  position: absolute;
  right: 3rem;
  bottom: -1rem;
}

.headline {
  position: relative;
  width: 110%;
  padding-left: 3rem;
}

.mypic {
  position: absolute;
  border-radius: 50%;
  background-color: grey;
  height: 22rem;
  width: 22rem;
  top: -5rem;
  left: -6rem;
}

.mypicborder {
  float: left;
  margin-right: 12px;
  border-radius: 50%;
  height: 16rem;
  width: 16rem;
  object-fit: cover;
  shape-outside: circle(50%);
}

.about {
  padding: 1rem;
  position: relative;
  border-radius: 20px;
  background-color: #fdffe0;
  height: 25rem;
  box-shadow: 10px 10px 5px black;
  line-height: 130%;
}

.about > p:nth-of-type(2) {
  text-align: center;
}

.about > .flex-container > button {
  display: flex;
  background-color: #a8cbff;
  border: none;
  align-self: center;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  font-family: monospace;
  cursor: pointer;
  box-shadow: 5px 5px 2px black;
}

.about > .flex-container > button:hover {
  background-color: #fbffcc;
  box-shadow: 5px 5px 2px red;
}

.flex-container {
  padding: 5px;
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: center;
}
